:root {
  --primary-color: #f4c0db;
  --secondary-color: #dfdaf0;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
  text-align: center;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 96px;
}
h3 {
  color: #69a0b6;
  font-style: italic;
  font-size: 20px;
}

p {
  line-height: 2;
}

.hero {
  background: var(--secondary-color);
  margin: 60px auto;
  max-width: 100%;
  padding: 160px 20px;
}
.navigate {
  display: flex;
  justify-content: center;
}
.navigation-links {
  display: flex;
  justify-content: space-around;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
}

.contact-info {
  border-radius: 4px;
  padding: 20px 15px;
  margin: 20px;
  text-decoration: none;
  background: var(--primary-color);
  color: white;
}
.primary-link {
  justify-content: left;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--primary-color);
  color: white;
}
@media (max-width: 576) {
  .container {
    text-align: center;
  }
}
