:root {
  --primary-color: #f4c0db;
  --secondary-color: #dfdaf0;
  --sub-color: #69a0b6;
  --link-color: #c2c2c2;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
  text-align: center;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 96px;
}
h3 {
  color: var(--sub-color);

  font-size: 20px;
}

p {
  line-height: 2;
  font-family: "Nunito", sans-serif;
}

.hero {
  margin: 60px auto;
  max-width: 100%;
  padding: 20px 10px;
}
navbar.container {
  margin: 30px 20px;
}
.button-info {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--primary-color);
  color: white;
}
.primary-link {
  border-radius: 4px;
  padding: 15px 10px;
  text-decoration: none;
  background: var(--primary-color);
  color: white;
}
.cloud {
  color: var(--sub-color);
  text-decoration: none;
  border: var(--sub-color);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 15px 10px;
}
.content-container {
  padding: 30px 20px;
  border-radius: 4px;
}
.content {
  margin: 20px;
  padding: 30px 20px;
}
.content p {
  font-size: 18px;
  line-height: 1.5;
}
.app-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.skill {
  font-size: 16px;
}
footer {
  margin: 30px 20px;
}

.inquiry {
  color: white;
  font-size: 20px;
  font-style: none;
  font-family: "Playfair Display", serif;
}
.email-link {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: white;
  padding: 20px 15px;
  background: var(--primary-color);
  border-radius: 8px;
  text-decoration: none;
}
footer .social-links a {
  margin: 0 20px;
  font-size: 18px;
  background: #a8d1df;
  padding: 10px 15px;
  border-radius: 50%;
}

.app-button:hover {
  background: linear-gradient(white, var(--secondary-color));
}
@media (max-width: 576) {
  content-container {
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
}
